.service-area {
    margin-top: -200px;
    .single-cat{
        background: $theme-color;
        border-radius: 6px;
        padding: 41px 22px;
        @include transition(.4s);
        position: relative;
        z-index: 1;
        border-radius: 0 0 0 50px;
        &::before {
            position: absolute;
            content: "";
            height: 100%;
            width: 0;
            background:#6dc568;
            transition: .6s;
            bottom: 0;
            right: 0;
            z-index: -1;
            border-radius: 0 0 0 50px;

        }
        .cat-icon{
            margin-bottom: 31px;
            svg{

            }
        }
        .cat-cap{
            h5{
             & > a{
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 21px;
                display: block;
                @include transition(.2s);
                font-family:$font_2;
                color: #fff;
                @media #{$sm}{
                    font-size: 22px;
                }
                @media #{$xs}{
                   font-size: 22px;
                }
              }
            }
            p{
                margin-bottom: 36px;
                color: #ffff;
                font-size: 16px;
                font-weight: 300;
                @include transition(.2s);
                @media #{$sm}{
                    font-size: 15px;

                }
            }
            a{
                color: #fff;
                font-size: 16px;
                font-weight: 600;
                @include transition(.2s);
            }
            .plus-btn i {
                width: 41px;
                height: 41px;
                color: #fff;
                display: inline-block;
                line-height: 38px;
                border-radius: 30px;
                border: 2px solid #fff;

            }
        }


        // Hover Effect In single 
        &:hover{
            &::before {
                width:100%;
            }
            .cat-icon{
            span{
                color: $theme-color;
                background:#fff;
            }
            }
            .cat-cap{
                h5{
                    color: #fff;
                }
                p{
                    color: #fff;
                }
                a{
                    color: #fff;
                }
                .plus-btn i {
                    border: 2px solid transparent;
                    background: #fff;
                    color: #000;
                }
            }
       }
    }
}