*,
*:after,
*:before {
  box-sizing: border-box;
}

.form-all {
  font-family: "Inter", sans-serif;
}
.main .jotform-form {
  width: 100%;
  padding: 0 3%;
}
.form-all {
  display: flex;
  flex-direction: column;
  margin: 72px auto;
  width: 100%;
  max-width: 752px;
}
.form-line.form-line-active {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  background-color: #ffffe0;
}
.form-label-left,
.form-label-right {
  width: 230px;
}
.form-label {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  word-break: break-word;
}
.form-label.form-label-auto {
  width: 100%;
  margin-bottom: 14px;
}
.form-label-top {
  width: 100%;
  margin-bottom: 14px;
}
.form-label:not(.form-label-top) {
  margin-right: 10px;
  margin-top: .625em;
  margin-bottom: .625em;
}
.form-label-right {
  justify-content: flex-end;
  text-align: right;
}
.form-all {
  font-size: 16px;
}
li.form-line {
  margin-top: 12px;
  margin-bottom: 12px;
}
.form-line {
  padding: 12px 10px;
}
.form-section {
  padding: 0px 38px;
}
.form-textbox,
.form-textarea {
  padding: 1px 10px -1px 10px;
}
.form-textbox,
.form-textarea,
.form-radio-other-input,
.form-checkbox-other-input,
.form-captcha input,
.form-spinner input {
  background-color: #ffffff;
}
.form-label {
  font-family: "Inter", sans-serif;
}
.form-line-column {
  width: calc(50% - 8px);
}
.form-line-column.form-line-column-clear {
  width: calc(43%);
}
[data-type="control_dropdown"] .form-input,
[data-type="control_dropdown"] .form-input-wide {
  width: 310px !important;
}
.form-checkbox-item label,
.form-checkbox-item span,
.form-radio-item label,
.form-radio-item span {
  color: #404a64;
}
.form-radio-item,
.form-checkbox-item {
  padding-bottom: 0px !important;
}
.form-radio-item:last-child,
.form-checkbox-item:last-child {
  padding-bottom: 0;
}
.form-single-column .form-checkbox-item,
.form-single-column .form-radio-item {
  width: 100%;
}
.form-checkbox-item .editor-container div,
.form-radio-item .editor-container div {
  position: relative;
}
.form-checkbox-item .editor-container div:before,
.form-radio-item .editor-container div:before {
  display: inline-block;
  vertical-align: middle;
  left: 0;
  width: 20px;
  height: 20px;
}
.form-checkbox-item input,
.form-radio-item input {
  margin-top: 2px;
}
.form-checkbox-item .form-checkbox:checked + label:before,
.form-checkbox-item .form-checkbox:checked + span:before {
  background-color: #2e69ff;
  border-color: #2e69ff;
}
.form-radio-item .form-radio:checked + label:before,
.form-radio-item .form-radio:checked + span:before {
  border-color: #2e69ff;
}
.form-radio-item .form-radio:checked + label:after,
.form-radio-item .form-radio:checked + span:after {
  background-color: #2e69ff;
}
.form-all .form-pagebreak-back,
.form-all .form-pagebreak-next {
  font-size: 1em;
  padding: 9px 15px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: normal;
}
.form-all .qq-upload-button,
.form-all .form-submit-button,
.form-all .form-submit-reset,
.form-all .form-submit-print {
  font-size: 1em;
  padding: 9px 15px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: normal;
}
.form-iframe-container .formFooter {
  font-size: 16px;
}
.form-iframe-container .formFooter-leftSide {
  margin-left: 52px;
  margin-right: 0;
}
.form-iframe-container .formFooter-rightSide {
  position: absolute;
  right: 34%;
}
li[data-type="control_image"] div {
  text-align: left;
}
li[data-type="control_image"] img {
  border: none;
  border-width: 0px !important;
  border-style: solid !important;
  border-color: false !important;
}
.supernova {
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  background-attachment: fixed;
  background-size: auto;
}
.supernova {
  background-image: none;
  background-image: url("https://i.ibb.co/991Z6Cy/breat-cancer.jpg");
}
#stage {
  background-image: none;
}
/* | */
.form-all {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  background-repeat: repeat;
}
.form-header-group {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
}
.header-large h1.form-header {
  font-size: 2em;
}
.header-large h2.form-header {
  font-size: 1.5em;
}
.header-large h3.form-header {
  font-size: 1.17em;
}
.header-large h1 + .form-subHeader {
  font-size: 1em;
}
.header-large h2 + .form-subHeader {
  font-size: .875em;
}
.header-large h3 + .form-subHeader {
  font-size: .75em;
}
.header-default h1.form-header {
  font-size: 2em;
}
.header-default h2.form-header {
  font-size: 1.5em;
}
.header-default h3.form-header {
  font-size: 1.17em;
}
.header-default h1 + .form-subHeader {
  font-size: 1em;
}
.header-default h2 + .form-subHeader {
  font-size: .875em;
}
.header-default h3 + .form-subHeader {
  font-size: .75em;
}
.header-small h1.form-header {
  font-size: 2em;
}
.header-small h2.form-header {
  font-size: 1.5em;
}
.header-small h3.form-header {
  font-size: 1.17em;
}
.header-small h1 + .form-subHeader {
  font-size: 1em;
}
.header-small h2 + .form-subHeader {
  font-size: .875em;
}
.header-small h3 + .form-subHeader {
  font-size: .75em;
}
.form-header-group {
  text-align: left;
}
.form-header-group {
  font-family: "Inter", sans-serif;
}
div.form-header-group.header-large {
  margin: 0px -38px;
}
div.form-header-group.header-large {
  padding: 40px 52px;
}
.ie-8 .form-all {
  margin-top: auto;
  margin-top: initial;
}
.ie-8 .form-all:before {
  display: none;
}
[data-type="control_clear"] {
  display: none;
}
/* | */
@media screen and (max-width: 480px), screen and (max-device-width: 767px) and (orientation: portrait), screen and (max-device-width: 415px) and (orientation: landscape) {
  .testOne {
    letter-spacing: 0;
  }
  .form-all {
    border: 0;
    max-width: initial;
  }
  .form-sub-label-container {
    width: 100%;
    margin: 0;
    margin-right: 0;
    float: left;
    box-sizing: border-box;
  }
  span.form-sub-label-container + span.form-sub-label-container {
    margin-right: 0;
  }
  .form-sub-label {
    white-space: normal;
  }
  .form-submit-button,
  .form-submit-print,
  .form-submit-reset {
    width: 100%;
    margin-left: 0!important;
  }
  div[id*=at_] {
    font-size: 14px;
    font-weight: 700;
    height: 8px;
    margin-top: 6px;
  }
}
.form-line-error {
  overflow: hidden;
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -ms-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  background-color: #fff4f4;
}
.form-line-error .form-error-message {
  background-color: #f23a3c;
  clear: both;
  float: none;
}
.form-line-error .form-error-message .form-error-arrow {
  border-bottom-color: #f23a3c;
}
.form-line-error input:not(#coupon-input),
.form-line-error textarea,
.form-line-error .form-validation-error {
  border: 1px solid #f23a3c;
  box-shadow: 0 0 3px #f23a3c;
}
.form-matrix-values {
  background-color: 0;
}
.rating-item input:focus + label,
.rating-item input:hover + label {
  color: #ffffff;
}
.form-radio-item .form-radio:checked + label:after,
.form-radio-item .form-radio:checked + span:after {
  color: #ffffff;
}
input.form-radio:checked + label:after,
input.form-checkbox:checked + label:after,
.form-line[data-payment="true"] .form-product-item .p_checkbox .checked {
  color: #ffffff;
}
.rating-item input:checked + label {
  color: #ffffff;
}
.appointmentCalendarContainer,
.appointmentSlot,
.rating-item-title.for-to > label:first-child,
.rating-item-title.for-from > label:first-child,
.rating-item-title .editor-container * {
  background: none;
}
.appointmentCalendar .calendarDay.isActive .calendarDayEach,
.appointmentCalendar .calendarDay:after,
.appointmentFieldRow.forSelectedDate {
  color: #FFFFFF;
}
@keyframes indicate {
  0% {
    background-color: transparent;
  }
  100% {
    color: #fff;
  }
}
.appointmentSlot.active {
  animation: indicate 0.2s linear forwards;
}
.form-pagebreak-next,
.form-pagebreak-back {
  color: #ffffff;
}
.clear-pad-btn {
  color: 0;
}
.appointmentField .timezonePickerName:after {
  width: 11px;
}
li[data-type="control_image"] .form-input-wide div img {
  opacity: 0;
}
.supernova {
  background-color: rgba(255, 255, 255, 0.8);
  background-color: #ecedf3;
}
.supernova body {
  background-color: transparent;
}
/* | */
@media screen and (min-width: 480px) {
  .supernova .form-all {
    box-shadow: 0 4px 4px rgba(87, 100, 126, 0.21);
  }
}
.supernova .form-all,
.form-all {
  background-color: rgba(255, 255, 255, 0.8);
}
.form-textbox,
.form-textarea,
.form-dropdown,
.form-radio-other-input,
.form-checkbox-other-input,
.form-captcha input,
.form-spinner input {
  background-color: #ffffff;
}
.form-matrix-table tr {
  border-color: rgba(230, 230, 230, 0.8);
}
.form-matrix-table tr:nth-child(2n) {
  background-color: rgba(242, 242, 242, 0.8);
}
.form-all {
  color: #2c3345;
}
.form-label-top,
.form-label-left,
.form-label-right,
.form-html {
  color: #2c3345;
}
.form-line-error {
  overflow: hidden;
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -ms-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  background-color: #fff4f4;
}
.form-iframe-container {
  font-size: 16px;
}
.radio-button-style-item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
  padding: 0;
  margin: 0 12px 12px 0;
  background-color: #4E4E4E;
  border: 1px solid #696969;
}
.radio-button-style-item img {
  opacity: 0;
}
.radio-button-style-item:nth-child(1) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='//www.w3.org/2000/svg' fill='none' viewBox='0 0 60 62'%3E%3Cdefs/%3E%3Crect width='24' height='24' x='.5' y='.5' fill='%23fff' stroke='%23C3CAD8' rx='12'/%3E%3Crect width='24' height='24' x='.5' y='37.5' fill='%23fff' stroke='%232E69FF' rx='12'/%3E%3Ccircle cx='12.5' cy='49.5' r='8.5' fill='%232E69FF'/%3E%3Crect width='24' height='24' x='35.5' y='37.5' fill='%23fff' stroke='%23C3CAD8' rx='1.5'/%3E%3Crect width='24' height='24' x='35.5' y='37.5' fill='%232E69FF' stroke='%232E69FF' rx='1.5'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M43 49.5l3.3 3.5 6.7-7'/%3E%3Crect width='24' height='24' x='35.5' y='.5' fill='%23fff' stroke='%23C3CAD8' rx='1.5'/%3E%3C/svg%3E");
}
.radio-button-style-item:nth-child(2) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='//www.w3.org/2000/svg' fill='none' viewBox='0 0 60 63'%3E%3Cdefs/%3E%3Crect width='24' height='24' x='.5' y='.5' fill='%23fff' stroke='%23C3CAD8' rx='12'/%3E%3Crect width='24' height='24' x='.5' y='37.5' fill='%23fff' stroke='%232E69FF' rx='12'/%3E%3Crect width='24' height='24' x='35.5' y='37.5' fill='%23fff' stroke='%23C3CAD8' rx='1.5'/%3E%3Crect width='24' height='24' x='35.5' y='37.5' fill='%232E69FF' stroke='%232E69FF' rx='1.5'/%3E%3Crect width='24' height='24' x='35.5' y='.5' fill='%23fff' stroke='%23C3CAD8' rx='1.5'/%3E%3Crect width='24.9' height='24.9' x='.2' y='37.1' fill='%232E69FF' rx='12.5'/%3E%3Ccircle cx='12.7' cy='49.6' r='3.7' fill='%23fff'/%3E%3Crect width='24' height='24' x='35.5' y='37.5' fill='%23fff' stroke='%23C3CAD8' rx='1.5'/%3E%3Crect width='24' height='24' x='35.5' y='37.5' fill='%232E69FF' stroke='%232E69FF' rx='1.5'/%3E%3Crect width='7' height='7' x='44' y='46' fill='%23fff' rx='1'/%3E%3C/svg%3E");
}
.radio-button-style-item:nth-child(3) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='//www.w3.org/2000/svg' fill='none' viewBox='0 0 62 63'%3E%3Cdefs/%3E%3Crect width='24' height='24' x='.5' y='.5' fill='%23fff' stroke='%23C3CAD8' rx='12'/%3E%3Crect width='22' height='22' x='1.5' y='1.5' stroke='%23C3CAD8' stroke-width='3' rx='11'/%3E%3Cpath fill='%232E69FF' d='M9.3 47c-.7-.8-1.8-.8-2.5 0-.8.7-.8 1.8 0 2.5l3.6 3.7c.4.4.8.6 1.3.6.6 0 1-.2 1.3-.6l12.9-13c.7-.7.7-1.8 0-2.5-.7-.8-1.8-.8-2.6 0L11.7 49.3 9.3 47z'/%3E%3Cpath fill='%232E69FF' d='M12.7 62.1c7 0 12.6-5.5 12.6-12.5 0-1-.8-1.8-1.8-1.8-1.1 0-1.8.7-1.8 1.8 0 5-4 9-9 9s-8.9-4-8.9-9a8.8 8.8 0 0112-8.4c.9.4 2-.2 2.3-1 .4-1-.2-2-1-2.4a12 12 0 00-4.4-.7C5.7 37.1.2 42.7.2 49.6c0 7 5.6 12.5 12.5 12.5z'/%3E%3Cmask id='a' fill='%23fff'%3E%3Crect width='25' height='25' x='35' rx='2'/%3E%3C/mask%3E%3Crect width='25' height='25' x='35' fill='%23fff' stroke='%23C3CAD8' stroke-width='6' mask='url(%23a)' rx='2'/%3E%3Cpath fill='%232E69FF' d='M51.5 39.8a1.5 1.5 0 000-3v3zm8.1 9.3a1.5 1.5 0 10-3 0h3zm-3.5 10h-17v3h17v-3zm-17.6-.6V40.3h-3v18.2h3zm.5-18.7h12.5v-3H39v3zm20.6 18.7v-9.4h-3v9.4h3zM39 59a.5.5 0 01-.5-.5h-3c0 2 1.6 3.5 3.5 3.5v-3zm17.1 3c2 0 3.5-1.5 3.5-3.5h-3c0 .3-.2.5-.5.5v3zM38.5 40.3c0-.3.3-.5.5-.5v-3c-1.9 0-3.5 1.6-3.5 3.5h3zM44.8 46.8c-.7-.8-1.8-.8-2.5 0-.8.7-.8 1.8 0 2.5l3.6 3.7c.3.3.7.5 1.3.5.5 0 .9-.2 1.2-.5l12.7-12.8c.7-.7.7-1.8 0-2.5-.7-.8-1.8-.8-2.6 0L47.2 49l-2.4-2.3z'/%3E%3C/svg%3E");
}
.radio-button-style-item:nth-child(4) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='//www.w3.org/2000/svg' fill='none' viewBox='0 0 53 57'%3E%3Cdefs/%3E%3Ccircle cx='9' cy='9' r='9' fill='%23C3CAD8'/%3E%3Cpath stroke='%23C3CAD8' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M37 9l4.3 5L50 4'/%3E%3Ccircle cx='9' cy='47.8' r='9' fill='%232E69FF'/%3E%3Cpath stroke='%232E69FF' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M37.4 48.5l4.1 4.6 8.2-9.3'/%3E%3C/svg%3E");
}
.radio-button-style-item:nth-child(5) {
  display: none;
}
.radio-button-style-item:nth-child(6) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='//www.w3.org/2000/svg' fill='none' viewBox='0 0 45 63'%3E%3Cdefs/%3E%3Crect width='45' height='26' y='37' fill='%232E69FF' rx='13'/%3E%3Ccircle cx='31' cy='50' r='10' fill='%23fff'/%3E%3Crect width='45' height='26' fill='%23C3CAD8' rx='13'/%3E%3Ccircle cx='14' cy='13' r='10' fill='%23fff'/%3E%3C/svg%3E");
}
.radio-button-style-item:nth-child(7) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='//www.w3.org/2000/svg' fill='none' viewBox='0 0 45 63'%3E%3Cdefs/%3E%3Crect width='45' height='26' y='37' fill='%232E69FF' rx='13'/%3E%3Ccircle cx='31' cy='50' r='10' fill='%23fff'/%3E%3Ccircle cx='27.4' cy='48.5' r='1.4' fill='%232E69FF'/%3E%3Ccircle cx='34.5' cy='48.5' r='1.4' fill='%232E69FF'/%3E%3Cpath fill='%232E69FF' d='M31 56c2 0 3.5-1.3 3.5-3h-7c0 1.7 1.6 3 3.5 3z'/%3E%3Crect width='45' height='26' fill='%23C3CAD8' rx='13'/%3E%3Ccircle cx='14' cy='13' r='10' fill='%23fff'/%3E%3Ccircle cx='10.4' cy='11.5' r='1.4' fill='%23C3CAD8'/%3E%3Ccircle cx='17.5' cy='11.5' r='1.4' fill='%23C3CAD8'/%3E%3Cpath fill='%23C3CAD8' d='M14 16c-2 0-3.5 1.3-3.5 3h7c0-1.7-1.6-3-3.5-3z'/%3E%3C/svg%3E");
}
.clr-darkV2,
.clr-pinkV2,
.clr-darkBlueV2,
.clr-purpleV2 {
  position: relative;
}
.clr-darkV2:before,
.clr-pinkV2:before,
.clr-darkBlueV2:before,
.clr-purpleV2:before {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg xmlns='//www.w3.org/2000/svg' fill='none' viewBox='0 0 36 19'%3E%3Cdefs/%3E%3Cg filter='url(%23filter0_d)'%3E%3Crect width='32' height='14' x='2' y='2' fill='%234990F7' rx='7'/%3E%3Cpath fill='%23fff' d='M13.2 12.2V6h-.9v4.8L9.2 6H8v6.2h.9v-5l3.4 5h.9zM18.6 12.2v-.8h-3V9.5h2.8v-.8h-2.7V6.8h3V6h-3.9v6.2h3.8zM25.7 10.9L24.1 6h-1l-1.5 4.9L20.2 6h-.9l1.8 6.2h1l1.5-5 1.7 5h.9L28 6h-.9l-1.4 4.9z'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' width='36' height='18' x='0' y='.5' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='.5'/%3E%3CfeGaussianBlur stdDeviation='1'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
  width: 54px;
  height: 19px;
  position: absolute;
  display: inline-block;
  top: -12px;
  left: -1px;
  background-repeat: no-repeat;
}
.clr-clearV2:before {
  content: 'x';
  text-transform: uppercase;
  color: #ffffff;
  width: 24px;
  height: 24px;
}
.clr-clearV2 > span {
  display: none;
}
#propsFormLayout #enableFormCols {
  display: none;
}
#propsLabels .sb-input-color + .sb-seperator + .sb-col-half + .sb-col-half.even {
  display: none;
}
#propsRadio .sb-option.sb-col-half.even.sb-input-color + .sb-seperator + .sb-option,
#propsRadio .sb-option + .sb-seperator + .sb-option.sb-col-half {
  display: none;
}
#propsRadio .sb-option.sb-col-half.even.sb-input-color {
  padding-left: 18px;
  padding-right: 12px;
}
#propsPageBreaks .sb-option:nth-child(20),
#propsPageBreaks .sb-seperator:nth-child(21) {
  display: none;
}
#propsButtons .sb-option:nth-child(20),
#propsButtons .sb-seperator:nth-child(21) {
  display: none;
}
#buttonSizeChangeContainer {
  display: none;
}
#buttonSizeChangeContainer + .sb-option.sb-col-half.even {
  padding-left: 18px;
  padding-right: 12px;
}

/*__INSPECT_SEPERATOR__*/

    /* Injected CSS Code */