<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Health-A-Plenty | About Us</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="static/assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/assets/css/slicknav.css">
    <link rel="stylesheet" href="static/assets/css/flaticon.css">
    <link rel="stylesheet" href="static/assets/css/gijgo.css">
    <link rel="stylesheet" href="static/assets/css/animate.min.css">
    <link rel="stylesheet" href="static/assets/css/animated-headline.css">
    <link rel="stylesheet" href="static/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="static/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="static/assets/css/themify-icons.css">
    <link rel="stylesheet" href="static/assets/css/slick.css">
    <link rel="stylesheet" href="static/assets/css/nice-select.css">
    <link rel="stylesheet" href="static/assets/css/style.css">
    <link rel="stylesheet" href="static/assets/css/gallery.css">
</head>
<script src="//code.tidio.co/nioqkei40pag42eontipwcv0v5zkavgk.js" async></script>
<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="static/assets/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!--? Header Start -->
        <div class="header-area">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-1">
                            <div class="logo">
                                <a href="{{ url_for('home')}}"><img src="static/assets/img/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <div class="menu-main d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav> 
                                        <ul id="navigation">
                                            <li><a href="{{ url_for('home')}}">Home</a></li>
                                            <li><a href="{{ url_for('about')}}">About-Us</a></li>
                                           <li><a style="cursor:pointer;"> Services</a>
                                                <ul class="submenu">
                                                    <li><a href="{{ url_for('service')}}">Diagnosis</a></li><br>
                                                    <li><a href="{{ url_for('corona')}}">Covid Tracker</a></li><br>
                                                    <li><a href="https://nearbyhospital.herokuapp.com/map">Nearby Hospital</a></li><br>
                                                    <li><a href="https://nearbyhospital.herokuapp.com/">Nearby Pharmacies</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="{{ url_for('firstaid')}}">First-Aid</a></li>
                                            <li><a href="{{ url_for('contact')}}">Contact</a></li></ul>
                                    </nav>
                                </div>
                                <div class="header-right-btn f-right d-none d-lg-block ml-15">
                                    <a href="{{ url_for('appointmentform')}}" class="btn header-btn">Make an Appointment</a>
                                </div>
                            </div>
                        </div>   
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <main>
        <!--? Slider Area Start-->
        <div class="slider-area slider-area2">
            <div class="slider-active dot-style">
                <!-- Slider Single -->
                <div class="single-slider  d-flex align-items-center slider-height2">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xl-7 col-lg-8 col-md-10 ">
                             <div class="hero-wrapper">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInUp" data-delay=".3s">About</h1>
                                    <p data-animation="fadeInUp" data-delay=".6s">We pave the way for your better health.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>
    <!-- Slider Area End -->
    								<div class="whole-wrap">
									<div class="container box_1170">
										<div class="section-top-border">
											<div class="row">
												<div class="col-md-3">
													<img src="https://images.unsplash.com/photo-1584168054713-0d212ed95783?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1051&q=80" style="border-radius: 35px" alt="" class="img-fluid">
												</div>
												<div class="col-md-9 mt-sm-20">
													<p>As we look into the current scenario of the modern world, it's clearly visible that people are comparitively falling ill and though the death ratio is comparitively decreasing but still at a very low rate compared to what it can be. The one main reason of this is the lack of proper knowledge and a regularity check on your health. 
<br><br>
What we do is with the help of our website you can check your medical status to ensure that you are completely safe or may require a doctor for your current health status. Due to unavailability of proper resources we still have access to only some of the major diseases like some heart disease, liver disease, malaria, pneumonia, breast cancer and the most common one diabetes.</p>
												</div>
											</div>
										</div>
										<div class="section-top-border text-right">
											<div class="row">
												<div class="col-md-9">
													<p style="text-align: left;">We use a method which asks and checks your current physical conditions, analysis them and get you the possibility of a disease you may have or in a better case you being healthy. Our website predicts some of the non noticable yet lethal diseases such as the ones mentioned above.</p>
												</div>
												<div class="col-md-3">
													<img src="https://images.unsplash.com/photo-1584036561566-baf8f5f1b144?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=1080" style="border-radius: 35px" alt="" class="img-fluid">
												</div>
											</div>
										</div>
                    <section class="banner__slider">
                      <div class="slider stick-dots">
                        <div class="slide">
                          <div class="slide__img">
                            <img src="" alt="" data-lazy="https://images.unsplash.com/photo-1581056771107-24ca5f033842?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=1080" class="full-image animated" data-animation-in="zoomInImage"/>
                          </div>
                          <div class="slide__content ">
                          </div>
                        </div>
                        <div class="slide">
                          <div class="slide__img">
                            <img src="" alt="" data-lazy="https://images.unsplash.com/photo-1579154341140-5aa3a445d43b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=1080" class="full-image animated" data-animation-in="zoomOutImage"/>
                          </div>
                          <div class="slide__content slide__content__right">
                          </div>
                        </div>
                        <div class="slide">
                          <div class="slide__img">
                            <img src="" alt="" data-lazy="https://images.unsplash.com/photo-1579684288402-e3e337bcc7af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1920&q=1080" class="full-image animated" data-animation-in="zoomInImage"/>
                          </div>
                          <div class="slide__content slide__content__left">
                          </div>
                        </div>
                        <div class="slide">
                          <div class="slide__img">
                            <img src="" alt="" data-lazy="https://images.unsplash.com/photo-1582719299076-dd3f6f970dd4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1920&q=1080" class="full-image animated" data-animation-in="zoomOutImage"/>
                          </div>
                          <div class="slide__content slide__content__right">
                          </div>
                        </div>
                      </div>
                      <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                        <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" width="44px" height="44px" id="circle" fill="none" stroke="currentColor">
                            <circle r="20" cy="22" cx="22" id="test">
                        </symbol>
                    </svg>
                    </section>
                <!-- <div class="section-top-border">
											<h3>Image Gallery</h3>
											<div class="row gallery-item">
												<div class="col-md-4">
													<a href="static/assets/img/elements/g1.jpg" class="img-pop-up">
														<div class="single-gallery-image" style="background: url(static/assets/img/elements/g1.jpg);"></div>
													</a>
												</div>
												<div class="col-md-4">
													<a href="static/assets/img/elements/g2.jpg" class="img-pop-up">
														<div class="single-gallery-image" style="background: url(static/assets/img/elements/g2.jpg);"></div>
													</a>
												</div>
												<div class="col-md-4">
													<a href="static/assets/img/elements/g3.jpg" class="img-pop-up">
														<div class="single-gallery-image" style="background: url(static/assets/img/elements/g3.jpg);"></div>
													</a>
												</div>
												<div class="col-md-6">
													<a href="static/assets/img/elements/g4.jpg" class="img-pop-up">
														<div class="single-gallery-image" style="background: url(static/assets/img/elements/g4.jpg);"></div>
													</a>
												</div>
												<div class="col-md-6">
													<a href="static/assets/img/elements/g5.jpg" class="img-pop-up">
														<div class="single-gallery-image" style="background: url(static/assets/img/elements/g5.jpg);"></div>
													</a>
												</div>
												<div class="col-md-4">
													<a href="static/assets/img/elements/g6.jpg" class="img-pop-up">
														<div class="single-gallery-image" style="background: url(static/assets/img/elements/g6.jpg);"></div>
													</a>
												</div>
												<div class="col-md-4">
													<a href="static/assets/img/elements/g7.jpg" class="img-pop-up">
														<div class="single-gallery-image" style="background: url(static/assets/img/elements/g7.jpg);"></div>
													</a>
												</div>
												<div class="col-md-4">
													<a href="static/assets/img/elements/g8.jpg" class="img-pop-up">
														<div class="single-gallery-image" style="background: url(static/assets/img/elements/g8.jpg);"></div>
													</a>
												</div>
											</div>
										</div>                      -->
                  <div class="container">
                    <h1 data-animation="fadeInUp" data-delay=".3s" style="text-align: center; padding-top: 70px; padding-bottom: 50px;"><b>Meet Our Hardworking Team<b></h1>
                    <div class="row">
                        <div class="col-6">
                            <div class="single-cat text-center mb-30">
                                <div class="cat-icon">
                                    <img src="static/assets/img/gallery/deepak.png" width="272px"
                                    height="292px" alt="">
                                </div>
                                <br>
                                <div class="cat-cap">                    
                                <h1>Deepak Kumar</h1>
                                <p style="color:blue"><b>Backend Developer</b><br>
                                "Java is to JavaScript what car is to Carpet. I love finding bugs and hunt them down cause it makes me feel like terminator."</p>
                        </div>
                    </div>
                </div>
              
                <div class="col-6">
                    <div class="single-cat text-center mb-30">
                        <div class="cat-icon">
                            <img src="static/assets/img/gallery/aadi.png" width="292px"
                            height="292px" alt="">
                        </div>
                        <br
                        <div class="cat-cap">
                            <h1>Aaditya Prakash</h>
                            <p style="color:blue"><b>Backend Developer</b><br>
                              "First, solve the problem. Then, write the code. My passion is to learn and grow with languages like c++,python etc."
                            </p>
                        </div>
                    </div>    
              </div>    
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="single-cat text-center mb-30">
                        <div class="cat-icon">
                            <img src="static/assets/img/gallery/aryan.png" width="272px"
                            height="292px" alt="">
                        </div>
                        <br>
                        <div class="cat-cap">
                            <h1>Aryan Singh</h1>
                            <p style="color:blue"><b>Frontend Developer</b><br>
                            “A website without SEO is like a car with no gas. I design my website the same way Picaso designs his paintings.”</p>
                        </div>
                    </div>
                </div>
              
                
              </div>    
            </div>
        </div>
  
    </section>
    <!--? Team End-->
  
</main>

<footer>
   <!-- footer-bottom area -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                    <div class="row">
                        <div class="col-xl-10 ">
                            <div class="footer-copy-right">
                             <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --><br>
                              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a target="_blank">Nexus</a>
                              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>

<!-- JS here -->

<script src="./static/assets/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="./static/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="./static/assets/js/popper.min.js"></script>
<script src="./static/assets/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="./static/assets/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="./static/assets/js/owl.carousel.min.js"></script>
<script src="./static/assets/js/slick.min.js"></script>
<!-- One Page, Animated-HeadLin -->
<script src="./static/assets/js/wow.min.js"></script>
<script src="./static/assets/js/animated.headline.js"></script>
<script src="./static/assets/js/jquery.magnific-popup.js"></script>

<!-- Date Picker -->
<script src="./static/assets/js/gijgo.min.js"></script>
<!-- Nice-select, sticky -->
<script src="./static/assets/js/jquery.nice-select.min.js"></script>
<script src="./static/assets/js/jquery.sticky.js"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="./static/assets/js/jquery.counterup.min.js"></script>
<script src="./static/assets/js/waypoints.min.js"></script>
<script src="./static/assets/js/jquery.countdown.min.js"></script>
<script src="./static/assets/js/hover-direction-snake.min.js"></script>

<!-- contact js -->
<script src="./static/assets/js/contact.js"></script>
<script src="./static/assets/js/jquery.form.js"></script>
<script src="./static/assets/js/jquery.validate.min.js"></script>
<script src="./static/assets/js/mail-script.js"></script>
<script src="./static/assets/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="./static/assets/js/plugins.js"></script>
<script src="./static/assets/js/main.js"></script>

<script src="./static/assets/css/script.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script src='https://alexandrebuffet.fr/codepen/slider/slick-animation.min.js'></script>

</body>
</html>