<!doctype html>
<html class="no-js" lang="zxx">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Health-A-Plenty | First Aid</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="static/assets/img/favicon.ico">

	<!-- CSS here -->
	<link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="static/assets/css/slicknav.css">
	<link rel="stylesheet" href="static/assets/css/animate.min.css">
	<link rel="stylesheet" href="static/assets/css/magnific-popup.css">
	<link rel="stylesheet" href="static/assets/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="static/assets/css/themify-icons.css">
	<link rel="stylesheet" href="static/assets/css/slick.css">
	<link rel="stylesheet" href="static/assets/css/nice-select.css">
	<link rel="stylesheet" href="static/assets/css/style.css">
</head>
<script src="//code.tidio.co/nioqkei40pag42eontipwcv0v5zkavgk.js" async></script>
<body>
	<!--? Preloader Start -->
	<div id="preloader-active">
		<div class="preloader d-flex align-items-center justify-content-center">
			<div class="preloader-inner position-relative">
				<div class="preloader-circle"></div>
				<div class="preloader-img pere-text">
					<img src="static/assets/img/logo/loder.png" alt="">
				</div>
			</div>
		</div>
	</div>
	<!-- Preloader Start -->
	<header>
		<!--? Header Start -->
		<div class="header-area">
			<div class="main-header header-sticky">
				<div class="container-fluid">
					<div class="row align-items-center">
						<!-- Logo -->
						<div class="col-xl-2 col-lg-2 col-md-1">
							<div class="logo">
								<a href="{{ url_for('home')}}"><img src="static/assets/img/logo/logo.png" alt=""></a>
							</div>
						</div>
                        <div class="col-xl-10 col-lg-10 col-md-10">
							<div class="menu-main d-flex align-items-center justify-content-end">
								<!-- Main-menu -->
								<div class="main-menu f-right d-none d-lg-block">
									<nav> 
										<ul id="navigation">
											<li><a href="{{ url_for('home')}}">Home</a></li>
											<li><a href="{{ url_for('about')}}">About-Us</a></li>
											<li><a style="cursor:pointer;"> Services</a>
												<ul class="submenu">
													<li><a href="{{ url_for('service')}}">Diagnosis</a></li><br>
													<li><a href="{{ url_for('corona')}}">Covid Tracker</a></li><br>
													<li><a href="https://nearbyhospital.herokuapp.com/">Nearby Pharmacies</a></li><br>
													<li><a href="https://nearbyhospital.herokuapp.com/map">Nearby Hospital</a></li><br>
													<li><a href="{{ url_for('community')}}">Community Chat</a></li><br>
													<li><a href="https://healthbuddyapp.herokuapp.com/">Doctor on Call</a></li><br>
												</ul>
											</li>
											<li><a href="{{ url_for('firstaid')}}">First-Aid</a></li>
											<li><a href="{{ url_for('contact')}}">Contact</a></li>
											<li><a href="{{ url_for('viewappointment')}}">Appointments</a></li>
										</ul>
									</nav>
								</div>
								<div class="header-right-btn f-right d-none d-lg-block ml-15">
									<a href="{{ url_for('appointmentform')}}" class="btn header-btn">Make an Appointments</a>
								</div>
							</div>
                        </div>  
						</div>   
						<!-- Mobile Menu -->
						<div class="col-12">
							<div class="mobile_menu d-block d-lg-none"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Header End -->
	</header>
	<main>
		<!--? Slider Area Start-->
		<div class="slider-area slider-area2">
			<div class="slider-active dot-style">
				<!-- Slider Single -->
				<div class="single-slider  d-flex align-items-center slider-height2">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-xl-7 col-lg-8 col-md-10 ">
								<div class="hero-wrapper">
									<div class="hero__caption">
										<h1 data-animation="fadeInUp" data-delay=".3s">First-Aid</h1>
										<p data-animation="fadeInUp" data-delay=".6s">Get the Aid knowledge in a click</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>    
			</div>
		</div>
		<!-- Slider Area End -->
								<!--? Start Align Area -->
								<div class="whole-wrap">
									<div class="container box_1170">
										<div class="section-top-border">
											<h3 class="mb-30">Measures to take in a heart attack condition: </h3>
											<div class="row">
												<div class="col-md-3">
													<img src="static/assets/img/elements/heart-attack.jpg" style="border-radius: 35px" alt="" class="img-fluid">
												</div>
												<div class="col-md-9 mt-sm-20">
													<p><b>Warning Signs:</b><br>

<b>1.</b> Chest discomfort that feels like pressure, fullness, or a squeezing pain that lasts for more than a few minutes or goes away and comes back.<br>

<b>2.</b> Pain and discomfort that go beyond your chest to other parts of your upper body, like one or both arms, or your back, neck, stomach, teeth, and jaw<br>

<b>3.</b> Unexplained shortness of breath, with or without chest discomfort.<br>
Nobody plans on having a heart attack. It’s best to be prepared. Steps you can take before symptoms start include:<br>
<ol>
<li>&#x25C9 Remember that you need to call 911 within 5 minutes of when they begin.</li>
<li>&#x25C9If the person is not allergic to aspirin, have them chew and swallow a baby aspirin. (It works faster when chewed and not swallowed whole.)</li>
<li>&#x25C9Perform CPR if You Are Qualified, else don't crowd around the patient, let him get fresh air.</li>
</ol>

                           
                          </p>
												</div>
											</div>
										</div>
										<div class="section-top-border text-right">
											<h3 class="mb-30" style="text-align: left;">Precautions to take in liver dysfunction</h3>
											<div class="row">
												<div class="col-md-9">
													<p style="text-align: left;">Liver dysfunction could be of various stages:<br><b>Stage 1</b> cirrhosis involves some scarring of the liver, but few symptoms. This stage is considered compensated cirrhosis, where there are no complications.<br>
<b>Stage 2</b> cirrhosis includes worsening portal hypertension and the development of varices.<br>
<b>Stage 3</b> cirrhosis involves the development of swelling in the abdomen and advanced liver scarring. This stage marks decompensated cirrhosis, with serious complications and possible liver failure.<br>
<b>Stage 4</b> cirrhosis can be life threatening and people have develop end-stage liver disease (ESLD), which is fatal without a transplant.<br>
If you have any stage of liver dysfunction, you must follow these measures: <br>
<ol style="text-align: left;" type="circle">
  <li>&#x25C9 Maintain a healthy weight.</li>
  <li>&#x25C9 Eat a balanced diet.</li>
  <li>&#x25C9 Exercise regularly.</li>
  <li>&#x25C9 Avoid toxins.</li>
  <li>&#x25C9 Use alcohol responsibly.</li>
  <li>&#x25C9 Avoid the use of illicit drugs</li>
</ol> 
</p>
													
												</div>
												<div class="col-md-3">
													<img src="static/assets/img/elements/liver-dys.jpg" style="border-radius: 35px" height="380" width="271" alt="" class="img-fluid">
												</div>
											</div>
										</div>
                    	<div class="section-top-border">
											<h3 class="mb-30">Precautions to take in Malaria</h3>
											<div class="row">
												<div class="col-md-3">
													<img src="static/assets/img/elements/malaria.jpg" style="border-radius: 35px" alt="" class="img-fluid">
												</div>
												<div class="col-md-9 mt-sm-20">
													<p>It's important to be aware of the symptoms of malaria if you're travelling to areas where there's a high risk of the disease. Symptoms include:
<ul>
<li>&#x25C9 a high temperature (fever)</li>
<li>&#x25C9 sweats and chills</li>
<li>&#x25C9 headaches</li>
<li>&#x25C9 vomiting</li>
<li>&#x25C9 muscle pains</li>
<li>&#x25C9 diarrhoea</li>
</ul><br>
If you see these symptoms, apart from seeking medical attention follow these preventive measures:<br><br> 
<ul>
<li>&#x25C9Wear full sleeve protective clothing.</li>
<li>&#x25C9Spray insect repellants on your exposed skin.</li>
<li>&#x25C9Use a mosquito net over the bed if your bedroom isn't air-conditioned or screened.</li>
<li>&#x25C9When you go out, in addition to spraying insect repellants on your exposed skin, you can also spray on your clothing.</li>
</ul>
</p>
												</div>
											</div>
										</div>
										<div class="section-top-border text-right">
											<h3 class="mb-30">Precautions to take in pneumonia</h3>
											<div class="row">
												<div class="col-md-9">
													<p style="text-align: left;">It's important to be aware of the symptoms of pneumonia if you're travelling to areas where there's a high risk of the disease. Symptoms include:
<ol style="text-align: left;">
<li>&#x25C9 Cough, which may produce greenish, yellow or even bloody mucus.</li>
<li>&#x25C9 sweats and chills</li>
<li>&#x25C9 headaches</li>
<li>&#x25C9 vomiting</li>
<li>&#x25C9 muscle pains</li>
<li>&#x25C9 diarrhoea</li>
</ol>
</p>
												</div>
												<div class="col-md-3">
													<img src="static/assets/img/elements/pneumonia.jpeg" alt="" class="img-fluid">
												</div>
											</div>
										</div>
                    	<div class="section-top-border">
											<h3 class="mb-30">Immediate measures to take in symptoms of Breast Cancer</h3>
											<div class="row">
												<div class="col-md-3">
													<img src="static/assets/img/elements/breastcancer.jpg" alt="" class="img-fluid">
												</div>
												<div class="col-md-9 mt-sm-20">
													<p>Breast cancer is becoming one of the most common medical threat among women population due to unhealthy daily-routine. One must immediately seek medical attention if found any of these symptoms:<br>
<ol type="none">
<li>&#x25C9New lump in the breast or underarm (armpit).</li>
<li>&#x25C9Thickening or swelling of part of the breast.</li>
<li>&#x25C9Irritation or dimpling of breast skin.</li>
<li>&#x25C9Redness or flaky skin in the nipple area or the breast.</li>
<li>&#x25C9Pulling in of the nipple or pain in the nipple area.</li></ol></p>
												</div>
											</div>
										</div>
										<div class="section-top-border text-right">
											<h3 class="mb-30">Do's and Don'ts for a Diabetes patient </h3>
											<div class="row" style="text-align: left;">
												<div class="col-md-9">
													<p style="text-align: left;">
                            Diabetes is among the most common medical condition in elderly population. Even youngsters are falling in grasp of it nowadays due to their irregular and unhealthy diet. If one is suffering from diabetes, he/she must follow these do's and don'ts for a healthy diet:<br>
                            <b style="text-align: left;">Do's </b><br>
                            <ol type="none" style="text-align: left;">
<li>&#x25C9 Eat more whole wheat bread and rotis, brown rice, and oats. Whole-grain starches give you more vitamins, minerals, and fibre than refined or white versions. Whole grains are also less likely to cause rapid spikes in your blood sugar.</li>
<li>&#x25C9 Load up on spinach, tomatoes, green beans, cucumbers, broccoli, cauliflower, and sweet potato. They are packed with nutrients and low in carbohydrates.</li>
<li>&#x25C9 Irritation or dimpling of breast skin.</li>
<li>&#x25C9 Opt for skinless chicken, fish, rajma, moong, soya beans, and lean cut meats instead of red meats..</li>
<li>&#x25C9 Go for unflavoured, low-fat dahi, milk and paneer. This will give you protein, calcium, vitamins, and minerals with every serving.</li></ol>
<br>
<b style="text-align: left;">Don'ts </b><br>
<ol type="none" style="text-align: left;">
<li>&#x25C9 Avoid white bread, white rice, deep-fried foods and Indian sweets as they will quickly increase blood sugar.</li>
<li>&#x25C9 Say no to fried and breaded vegetables that will add extra calories, carbs, and fat to your diet.</li>
<li>&#x25C9 Avoid eating fatty cuts of meat and processed or frozen meat.</li>
<li>&#x25C9 Say no to full-fat dairy products. Remember, diabetes increases your risk of heart disease, and the extra fat is just going to contribute to plaque buildup. </li></ol>

                          </p>
												</div>
												<div class="col-md-3">
													<img src="static/assets/img/elements/diabetes.jpg" style="border-radius: 35px" alt="" class="img-fluid">
												</div>
											</div>
										</div>
										<div class="section-top-border">
											<h3 class="mb-30">Table</h3>
											<div class="progress-table-wrap">
												<div class="progress-table">
													<div class="table-head">
														<div class="serial">S.No</div>
														<div class="country">Countries</div>
														<div class="visit">Disease Deaths/<br>100K
                              </div>
														<div class="percentage">Percentages</div>
													</div>
													<div class="table-row">
														<div class="serial">01</div>
														<div class="country"> <img src="static/assets/img/elements/f1.jpg" alt="flag">Canada</div>
														<div class="visit">189</div>
														<div class="percentage">
															<div class="progress">
																<div class="progress-bar color-1" role="progressbar" style="width: 49%"
																aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</div>
													</div>
													<div class="table-row">
														<div class="serial">02</div>
														<div class="country"> <img src="static/assets/img/elements/f2.jpg" alt="flag">USA</div>
														<div class="visit">869</div>
														<div class="percentage">
															<div class="progress">
																<div class="progress-bar color-2" role="progressbar" style="width: 73%"
																aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</div>
													</div>
													<div class="table-row">
														<div class="serial">03</div>
														<div class="country"> <img src="static/assets/img/elements/f3.jpg" alt="flag">England</div>
														<div class="visit">374</div>
														<div class="percentage">
															<div class="progress">
																<div class="progress-bar color-3" role="progressbar" style="width: 55%"
																aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</div>
													</div>
													<div class="table-row">
														<div class="serial">04</div>
														<div class="country"> <img src="static/assets/img/elements/f4.jpg" alt="flag">Germany</div>
														<div class="visit">610</div>
														<div class="percentage">
															<div class="progress">
																<div class="progress-bar color-4" role="progressbar" style="width: 64%"
																aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</div>
													</div>
													<div class="table-row">
														<div class="serial">05</div>
														<div class="country"> <img src="static/assets/img/elements/f5.jpg" alt="flag">Australia</div>
														<div class="visit">642</div>
														<div class="percentage">
															<div class="progress">
																<div class="progress-bar color-5" role="progressbar" style="width: 68%"
																aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</div>
													</div>
													<div class="table-row">
														<div class="serial">06</div>
														<div class="country"> <img src="static/assets/img/elements/f6.jpg" alt="flag">India</div>
														<div class="visit">987</div>
														<div class="percentage">
															<div class="progress">
																<div class="progress-bar color-6" role="progressbar" style="width: 87%"
																aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</div>
													</div>
													<div class="table-row">
														<div class="serial">07</div>
														<div class="country"> <img src="static/assets/img/elements/f7.jpg" alt="flag">Bangladesh</div>
														<div class="visit">290</div>
														<div class="percentage">
															<div class="progress">
																<div class="progress-bar color-7" role="progressbar" style="width: 35%"
																aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</div>
													</div>
													<div class="table-row">
														<div class="serial">08</div>
														<div class="country"> <img src="static/assets/img/elements/f8.jpg" alt="flag">Belgium</div>
														<div class="visit">527</div>
														<div class="percentage">
															<div class="progress">
																<div class="progress-bar color-8" role="progressbar" style="width: 66%"
																aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- End Align Area -->
							</main>
							<footer>
									<!-- footer-bottom area -->
									<div class="footer-bottom-area">
										<div class="container">
											<div class="footer-border">
												<div class="row">
													<div class="col-xl-10 ">
														<div class="footer-copy-right">
															<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
																Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Nexus</a>
																<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</footer>
					
	
								<!-- JS here -->

								<script src="./static/assets/js/vendor/modernizr-3.5.0.min.js"></script>
								<!-- Jquery, Popper, Bootstrap -->
								<script src="./static/assets/js/vendor/jquery-1.12.4.min.js"></script>
								<script src="./static/assets/js/popper.min.js"></script>
								<script src="./static/assets/js/bootstrap.min.js"></script>
								<!-- Jquery Mobile Menu -->
								<script src="./static/assets/js/jquery.slicknav.min.js"></script>

								<!-- Jquery Slick , Owl-Carousel Plugins -->
								<script src="./static/assets/js/owl.carousel.min.js"></script>
								<script src="./static/assets/js/slick.min.js"></script>
								<!-- One Page, Animated-HeadLin -->
								<script src="./static/assets/js/wow.min.js"></script>
								<script src="./static/assets/js/animated.headline.js"></script>
								<script src="./static/assets/js/jquery.magnific-popup.js"></script>
								
								<!-- Nice-select, sticky -->
								<script src="./static/assets/js/jquery.nice-select.min.js"></script>
								<script src="./static/assets/js/jquery.sticky.js"></script>
								
								<!-- contact js -->
								<script src="./static/assets/js/contact.js"></script>
								<script src="./static/assets/js/jquery.form.js"></script>
								<script src="./static/assets/js/jquery.validate.min.js"></script>
								<script src="./static/assets/js/mail-script.js"></script>
								<script src="./static/assets/js/jquery.ajaxchimp.min.js"></script>
								
								<!-- Jquery Plugins, main Jquery -->	
								<script src="./static/assets/js/plugins.js"></script>
								<script src="./static/assets/js/main.js"></script>
								<!-- Firebase Config -->
<script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.8.1/firebase.js"></script>
  <script>
      var firebaseConfig = {
        apiKey: "AIzaSyD1OWAs98vA5KO_MbmaZeZYCQHdfZ5deuE",
        authDomain: "health-a-plenty.firebaseapp.com",
        projectId: "health-a-plenty",
        storageBucket: "health-a-plenty.appspot.com",
        messagingSenderId: "495387763561",
        appId: "1:495387763561:web:379bc47110e8dbea5653f8"
      };
      firebase.initializeApp(firebaseConfig);
 
  </script>
								
							</body>
							</html>