<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Pneumonia Disease Prediction</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'><link rel="stylesheet" href="static/upload.css">
<link rel="shortcut icon" type="image/x-icon" href="static/assets/img/favicon.ico">
</head>
<body style='background-image: url("https://images.unsplash.com/photo-1607073614686-b3a85a13dc29?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=1080");'>
<!-- partial:index.partial.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="opacity: 0.9;">
  <a class="navbar-brand" style="color: white;"><i class="fa fa-image" style="color: white;"></i> Pneumonia Disease Prediction</a>
  <a class="btn btn-success" href="{{ url_for('home') }}">Home</a>
</nav>
<div class="container" id="imageWgt" style=" padding-top: 150px;margin: auto; width: 60%;">
<form class="form-signin" action="{{ url_for('pneumoniadisease')}}" method="POST" enctype="multipart/form-data"></form>
  <div class="row image-row">
    <div class="col-8">
      <div class="image-upload">
        <span class="image-icon">
        </span>
        <span class="image-instr" type="file" name="file" id="inputfile" src="{{ url_for('send_file', filename=image_name)}}" onerror="this.src='/static/default.png'" >Click here to select file(s)<br> Upload your Chest X-Ray images only, to detect the presence of Pneumonia.</span>
      </div>
    </div>
    <div class="col-4">
      <ul class="list-group  image-status">
      <li class="list-group-item"># of file(s) <span class="badge badge-info image-count">0</span></li>
      <li class="list-group-item">Total Size <span class="badge badge-info image-tot-size">0 Mb</span>
        <div class="progress">
  <div class="progress-bar bg-info" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>
        <div class="max-size-limit"></div>
      </li>
    </ul>
      <div class="alert alert-info" role="alert">
        <span class="fa fa-exclamation-circle"></span> Please Upload Clear Images
</div>
      <div class="image-action">
        <button type="button" id="sub" disabled class="upload-start btn btn-outline-success btn-block"><i class="fa fa-cloud-upload"></i> Upload Image(s)</button>
        <button type="button" disabled class="upload-clean btn btn-outline-danger btn-block"><i class="fa fa-ban"></i> Clear</button>
      </div>
    </div>
  </div>
  <div class="images-to-upload">
    <ul>
    </ul>
  </div>
</form>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js'></script>
<script src='https://code.jquery.com/ui/1.12.1/jquery-ui.js'></script>
<script src='https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js'></script><script  src="static/upload.js"></script>

</body>
</html>
