<!DOCTYPE html>
  <html lang="en" >
  <head>
    <meta charset="UTF-8">
    <title>Pneumonia Disease Preciction</title>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css'>
    <link rel="shortcut icon" type="image/x-icon" href="static/assets/img/favicon.ico">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css'><link rel="stylesheet" href="static/style.css">
  </head>
<body style='background-image: url("https://images.unsplash.com/photo-1607073614686-b3a85a13dc29?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=1080");'>
  <!-- partial:index.partial.html -->
  <h1>Pneumonia Disease Preciction</h1>
  <h4>Upload your Chest X-Ray images only, to detect the presence of Pneumonia</h4>
  <div class="container">
  <form action="{{ url_for('pneumoniadisease')}}" method="POST" enctype="multipart/form-data">
    <div class="form-group" x-data="{ fileName: '' }">
      <div class="input-group shadow">
        <span class="input-group-text px-3 text-muted"><i class="fas fa-image fa-lg"></i></span>
        <input type="file" name="file" x-ref="file" @change="fileName = $refs.file.files[0].name" class="d-none">
        <input type="text" class="form-control form-control-lg" placeholder="Upload Image" x-model="fileName" disabled>
        <button class="browse btn btn-primary px-4" x-on:click.prevent="$refs.file.click()"><i class="fas fa-image"></i> Browse</button>
      </div>
    </div>
    <div style="align-items: center; justify-content: center; display: flex; padding-top: 30px;">
      <button class="btn btn-success btn-lg" id="sub" type="submit ">Submit</button>
    </div>
  </form>
  </div>
  
  <!-- partial -->
    <script src='https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.min.js'></script>
  </body>
  </html>
  